* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 2000px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

main {
    position: relative;
    top: 60px;
}

.sidenav {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    top: 65px;
    z-index: 1;
    width: 50vw;
    height: 90vh;
    overflow: hidden;
    display: none;




}

.logo {
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
}

.logo_txt_section {
    width: 260px;




}

.nav {
    background-color: rgb(2, 13, 44);
    color: white;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;


}

.toggle_section {
    position: absolute;
    right: 1rem;
    display: none;


}

.nav h1 {

    margin: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin-top: 0.5rem;
    margin-left: 1rem;

    font-weight: normal;
    animation: logoanimate 9sec ease-in-out 3 direction fill-mode;
}

.nav h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;

    letter-spacing: 0.1rem;
    /* Initial value */
    animation: logoanimate 2s ease-in-out backwards;
    /* Added 'infinite alternate' for continuous animation */
}



.search_course {
    border: 1px solid white;
    display: flex;
    justify-content: center;

    position: relative;
    border-radius: 0.5rem;
    width: 220px;
    height: 40px;
    display: block;


}

.search_course input {
    background-color: transparent;
    border-style: none;
    width: 100%;
    border-radius: 0.5rem;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;


}

.search_course input::placeholder {
    color: white;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1rem;
    top: 0.7rem;


}



.course_section {
    display: flex;
    justify-content: center;
    align-items: center;








}

.courses {
    display: block;
    list-style-type: none;
    margin: 10px;

    list-style-type: none;
    padding: 0.6rem;

    margin-right: 0.5rem;
    border-radius: 0.3rem;
    background-image: linear-gradient(to bottom right, rgb(194, 138, 138), yellow);
    font-weight: bold;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    color: white;
    position: relative;

}






.courses_sublist {
    list-style-type: none;

    position: absolute;
    z-index: 1;
    /* background-image: linear-gradient(to bottom right, rgb(239, 236, 236), rgb(233, 233, 226)); */

    display: none;
    padding: 1rem;
    background-color: white;
    /* margin-top: 0.3rem; */
    top: 33px;
    left: -120px;
    width:70vw;


    border-radius: 0.2rem;




}





.lst li a {
    text-decoration: none;
    font-weight: normal;
   color: rgb(22, 21, 21);
    font-size: 0.9rem;
    cursor: pointer;
    font-style: normal;

}
.lst li:hover{
    background-color: rgb(251, 247, 247);
   
}
#coursename{
    color: rgb(80, 80, 128);
    font-weight: 600;
  
    
}
.courses_sublist li {
    padding: 0.6rem;
}

.courses_sublist:hover {
    display: block;
}

.course_list:hover {
    cursor: pointer;

    .courses_sublist {
        display: block;
    }




}


.course_list:hover .courses_sublist {
    display: block;
    cursor: pointer;
}


.more_courses{
    margin-top: 10px;
    text-align: right;
   
    
}
.more_courses a{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 0.8rem;
    border-radius: 18px;
    font-size: 0.8rem;
}


/* Description */

.description_section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/skillInovative.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 50vh;
    opacity: 0.8;
  
    /* margin-top: 1rem; */

}



.description_text {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    /* color:rgb(5, 5, 34); */
    color: white;
    letter-spacing: 0.04rem;
    font-style: oblique;

    width: 400px;


    font-family: 'Courier New', Courier, monospace;
    font-family: 'Times New Roman', Times, serif;
}

.explore_btn:hover {
    scale: 1.1;
    transition: 0.5s;


}

.explore_btn {
    font-size: 2rem;
    font-weight: bold;

}


/* New Trending Section */
.trending_section{
    position: relative; 
   
   
    
    padding: 1.5rem;
  
}
.trending_section h1{
    font-size: 1.2em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 1rem;
    color: rgb(10, 10, 119);
}

.trending_section hr{
  border: 2px solid rgb(103, 103, 189);
  width: 20%;
 
  margin: 30px auto;
  border-radius: 10px;

}

.trending_course{
    /* border: 1px solid black; */
    padding: 0.5rem;
    background-color:rgb(241, 241, 245);
   
    min-height: 300px;
  
   
}

.trending_course p{
  font-size: 0.7rem;
  text-align: center;


}


.trending_course img{
 
 height: 100%;
 width: 100%;
 border-radius: 70%;


}
.trending_course h1{
 
  font-size: 1rem;
   
   }



.trending_course:hover{
    scale: 1.1;
    transition: 1s;
    cursor: pointer;
}



@keyframes logoanimate {
    0% {
        letter-spacing: 0.1rem;
        scale: 1.5;

    }

    50% {
        letter-spacing: 0.3rem;
        scale: 1.0;


    }

    100% {
        letter-spacing: 0.1rem;
        scale: 1.0;


    }
}



@media only screen and (max-width: 700px) {
    .courses {

        display: none;
    }

    .search_course {
        display: none;
    }

    .toggle_section {
        display: block;
    }
}

